@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --success: 142.1 70.6% 45.3%;
    --success-foreground: 144.9 80.4% 10%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  :root {
    color-scheme: light dark;
  }
  body {
    @apply bg-background text-foreground overflow-hidden;
  }
}

@layer components {
  .break-dance {
    word-break: break-word;
  }

  .markdown {
    @apply text-lg md:text-base break-dance;
  }

  .markdown h1 {
    @apply text-2xl font-bold;
  }

  .markdown h2 {
    @apply text-xl font-bold;
  }

  .markdown h3 {
    @apply text-lg font-bold;
  }

  .markdown h4 {
    @apply text-base font-bold;
  }

  .markdown h5 {
    @apply text-sm font-bold;
  }

  .markdown h6 {
    @apply text-xs font-bold;
  }

  .markdown b,
  .markdown strong {
    @apply font-bold;
  }

  .markdown i,
  .markdown em {
    @apply italic;
  }

  .markdown a {
    @apply underline;
  }

  .markdown pre {
    @apply overflow-auto;
  }

  .markdown ul {
    @apply list-disc pl-4;
  }

  .markdown ol {
    @apply list-decimal pl-4;
  }

  .markdown code {
    @apply bg-neutral-900 text-sm text-muted-foreground rounded-sm px-1;
  }

  .electro4ort-scrollbar::-webkit-scrollbar {
    @apply w-2;
  }

  .electro4ort-scrollbar::-webkit-scrollbar-track {
    @apply bg-neutral-700 rounded-md;
  }

  .electro4ort-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-neutral-500 rounded-md;
  }

  .electro4ort-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-neutral-400;
  }
}
